/* FOOTER */
.col1 {
    width: 500px;
    text-align: justify;
    padding: 20px;
}
.col2 {
    width: 300px;
}
.col2 > a img {
    width: 150px;
}
.social_medias img {
    width: 30px;
}

/* ========= LOGIN_CADASTRO ========= */

/* Redimensionando cabeçlho */
@media (max-width: 800px) {
    nav ul {
        gap: 5px;
    }
    nav ul li a {
        font-size: 25px;
    }
}
@media (max-width: 700px) {
    nav ul {
        gap: 5px;
    }
    nav ul li a {
        font-size: 20px;
    }
}