/* FOOTER */
.col1 {
    width: 500px;
    text-align: justify;
    padding: 20px;
}
.col2 {
    width: 300px;
}
.col2 > a img {
    width: 150px;
}
.social_medias img {
    width: 30px;
}

/* ========= SAIBA MAIS ========= */
#saibaMais {
    width: 700px;
}
#saibaMais img {
    width: 500px;
}

/* ========= Descontos ========= */
#descontos .ofertas {   
    display: flex;
    flex-wrap: wrap; 
}
#descontos .oferta {
    width: 50%;
    border-left: 3px solid #707070;
    display: block;
}

/* Redimensionando cabeçlho */
@media (max-width: 800px) {
    nav ul {
        gap: 5px;
    }
    nav ul li a {
        font-size: 25px;
    }
    #saibaMais {
        width: 500px;
    }
}
@media (max-width: 700px) {
    nav ul {
        gap: 5px;
    }
    nav ul li a {
        font-size: 20px;
    }
}