/* Estilizando o menu para small devices */
nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
}
nav ul {
    position: absolute;
    height: 100vh;
    background-color: var(--cinza3);
    display: block;
    right: -250px;
    transition: 0.3s;
}
nav label{
    display: block;
    height: 50px;
    background-color: var(--cinza2);
    border-bottom: var(--cinza1) solid 2px;
}
nav span {
    position: absolute;
    top: 20px; 
    left: 10px;
    width: 30px;
    height: 6px; 
    background-color: var(--amarelo1);
    transform: rotate(45deg);
    border-radius: 10px;
}
nav span:last-child { 
    transform: rotate(-45deg);
}
.img_menu {
    display: block;
    background-color: var(--cinza2);
    border-bottom: var(--cinza1) solid 2px;
}
.img_menu > img {
    width: 150px;
    height: auto;
    padding: 10px 50px;
}
header nav ul li {
    padding: 10px 50px;
    background-color: var(--cinza2);
    border-bottom: var(--cinza1) solid 2px;
    text-align: center;
}
nav li div{
    background-color: var(--azul1);
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    color: #0C4847;
    font-weight: 600;
}
/* Apresentando o menu */
#menu_toggle:checked ~ nav {
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .3);
}
#menu_toggle:checked ~ nav ul {
    right: 0;
    transition: 0.3s;
}
/* Criando o menu Hambuguer */
.menu_btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    position: relative;
    margin-right: 10%;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    width: 100%;
    height: 6px; 
    background-color: var(--verde1);
    border-radius: 10px;
}
.menu_btn > span::before {
    position: absolute; 
    content: '';
    top: 7px; 
}
.menu_btn > span::after {
    position: absolute; 
    content: '';
    bottom: 7px; 
}

/* ========= Quem Somos ========= */
#quemSomos .membro {
    display: flex;
    gap: 0px;
    margin-bottom: 20px;
}
#quemSomos .membro div:last-child {
    display: flex;
    flex-direction: column;
}
#quemSomos .cabos {
    gap: 78px;
    top: 418px;
    width: 390px;
}