.logo_header {
    width: 18S0px;
}
nav ul {
    gap: 15px;
}

/* ========= Home Page ========= */
#home {
    flex-direction: row;
    padding: 300px;
}
#home button {
    height: 80px;
    position: absolute;
    right: 24%;
}
#home #rotacao {
    position: absolute;
    left: 24%;
}
#gota_animada {
    top: 480px;
    left: calc(50% - 10%);
}

/* ========= Perfil ========= */
#perfil {
    display: flex;
    flex-direction: row;
    margin: 100px;
    background-color: var(--cinza2);
    border-radius: 10px;
}
#perfil .container2 {
    border-left: 5px solid var(--cinza1);
}
#perfil .container1,
#perfil .container2 {
    width: 50%;
}
#perfil .container1 img {
    top: 300px;
    left: calc(50% - 27%);
}

/* ========= Coleta ========= */
#coleta .parceiros {
    display: flex;
    margin: 100px auto;
}

/* ========= Descontos ========= */
#descontos .oferta {
    display: flex;
    padding: 30px 0;
}

/* ========= Quem Somos ========= */
#quemSomos {
    display: flex;
    flex-direction: row;
}
#quemSomos .membros {
    width: 500px;
}
#quemSomos .membro {
    margin-bottom: 140px;
    gap: 0;
}
#quemSomos .membro div:last-child {
    display: flex;
    flex-direction: column;
}
#quemSomos .cabos {
    top: 408px;
    gap: 185px;
    width: 460px;
    left: 25%;
    transform: translateX(-50%);
}
#quemSomos .projeto {
    width: 500px;
    margin-bottom: 200px;
}
#quemSomos .projeto h2 {
    margin: 0 0 100px;
}
#quemSomos .projeto img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}